<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
  <h1 sec:authentication="name" >

    </h1>
</head>
<body>
<h3 class="text-center">Order's List :</h3>

<table class="table">
    <thead class="thead-dark">
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Color</th>
        <th scope="col">Model</th>
        <th scope="col">Payment</th>
        <th scope="col">Delete</th>


    </tr>
    </thead>
    <tbody>

    <!--/*@thymesVar id="p" type=""*/-->

         <tr th:each="product:${p}">
             <td th:text="${product.name}"></td>
             <td th:text="${product.price}"></td>
             <td th:text="${product.color}"></td>
             <td th:text="${product.model}"></td>
             <td>
                 <a th:href="@{/cart/payment/{id}(id=${product.id})}">Buy</a>
             </td>
             <td>
                 <a th:href="@{/cart/delete/{id}(id=${product.id})}">Delete</a>
             </td>

         </tr>
    </tbody>


</table></br>


<a href="/">Back to Home</a>

</body>
</html>