<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/users/update/{id}(id=${user.username})}" method="post" th:object="${user}">
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name" required>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password" required>


    <label for="budget">Budget</label>
    <input type="text" th:field="*{budget}" id="budget" placeholder="budget" required>

    <input type="submit" value="update">
</form>
</body>
</html>