<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${product.id})}" method="post" th:object="${product}" enctype="multipart/form-data">
    <label for="name">ID</label>
    <input type="text" th:field="*{id}" id="id" placeholder="id" required><br><br>


    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name" required><br><br>

    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price" required><br><br>

    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="model" required><br><br>

    <label for="color">Color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="Color" required><br><br>

    <label for="image">Image</label>
    <input type="file" th:field="*{image}" id="image" placeholder="Image" ><br><br>

    <label for="image">quantity</label>
    <input type="text" th:field="*{quantity}" id="quantity" placeholder="quantity" ><br><br>

    <input type="submit" value="Edit Product">
</form>
</body>
</html>