<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <link rel="stylesheet" href="/css/style.css">
    <h1>Welcome to Mobile-Shop</h1>
    <h3 sec:authentication="name"></h3>
    <p sec:authorize="hasRole('ROLE_USER')"><a href="/cart">My Shopping Cart</a></p>
    <p><a href="/login">Login</a></p>



</head>

<body>

<h3 class="text-center">list of products</h3>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">color</th>
        <th scope="col">model</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">quantity</th>
        <th scope="col">order</th>

        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Edit Product</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Delete Product</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="product:${products}">
        <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 100px;height
						: 100px;"></th>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.color}"></td>
        <td th:text="${product.model}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{/cart/{id}(id=${product.id})}">Add to Cart</a>
        </td>

        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <p><a th:href="@{/edit/{id}(id=${product.id})}">Edit Product</a></p>
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <p><a th:href="@{/delete/{id}(id=${product.id})}">Delete Product</a></p>
        </td>

    </tr>
    </tbody>


</table>

</div>
</div>


<p sec:authorize="hasRole('ROLE_ADMIN')"><a href="/product-register">Add Product</a></p>
<p sec:authorize="hasRole('ROLE_ADMIN')"><a href="/users">List of Users</a></p>


<p sec:authorize="hasRole('ROLE_USER')"><a href="/logout">Logout</a></p>
</body>
