<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div th:switch="${usersList}">
    <div>
        <h2 th:case="null">No users yet!</h2>

        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>

                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="users:${usersList}">

                    <td th:text="${users.username}"></td>
                    <td th:text="${users.password}"></td>

                    <td><a th:href="@{users/delete/{id}(id=${users.username})}">Delete</a></td>

                </tr>
                </tbody>


            </table>

        </div>
        <p><a href="/users/signup">Add new User</a></p>

        <p><a href="/logout">Logout</a></p>

    </div>
</div>
</div>
</body>
</html>